<footer class="text-muted">
	<div class="container">
		<p class="float-right">
			<a href="#">Back to top</a>
		</p>
		<p>CREDIT: Thái Minh Sang</p>
		<p>Website: <a href="https://ltweb2-1560465.herokuapp.com/">Akino Page</a> and my GibHub <a href="https://github.com/akino0910">link</a>.</p>
	</div>
</footer>